key.txt.age
{{ if ne .chezmoi.os "windows" }}
Documents\PowerShell\Microsoft.PowerShell_profile.ps
decrypt-private-key.ps1
{{ else }}
.bash_profile
.exrc
.nanorc
.profile
decrypt-private-key.sh
{{ end }}
