
{{- if eq .chezmoi.os "windows" -}}
#f45873b3-b655-43a6-b217-97c00aa0db58 PowerToys CommandNotFound module

Import-Module -Name Microsoft.WinGet.CommandNotFound
#f45873b3-b655-43a6-b217-97c00aa0db58

#region conda initialize
# !! Contents within this block are managed by 'conda init' !!
If (Test-Path "$Env:USERPROFILE\miniforge3\Library\bin\mamba.exe") {
    (& "$Env:USERPROFILE\miniforge3\Library\bin\mamba.exe" "shell" "hook" "--shell" "powershell") | Out-String | ? { $_ } | Invoke-Expression
}

If (Test-Path "$Env:USERPROFILE\miniforge3\envs\prefix") {
    mamba activate prefix
}
#endregion

$OutputEncoding = [Console]::InputEncoding = [Console]::OutputEncoding = New-Object System.Text.UTF8Encoding

#region VS helper
$vswhere_exe = "${Env:ProgramFiles(x86)}\Microsoft Visual Studio\Installer\vswhere.exe"
if (Test-Path $vswhere_exe) {
    function Enter-DevShell {
        $vswhere = "${Env:ProgramFiles(x86)}\Microsoft Visual Studio\Installer\vswhere.exe"
        $vsInfo = & $vswhere -format json -latest -utf8 | ConvertFrom-Json
        $command = [scriptblock]::Create(@"
            & "$($vsInfo.installationPath)\Common7\Tools\Launch-VsDevShell.ps1" -SkipAutomaticLocation -Arch amd64 -HostArch amd64
"@)
        pwsh -NoExit -NoLogo -Command $command
    }
}
Remove-Variable vswhere_exe
#endregion

# region oh-my-posh initialize
If (Get-Command oh-my-posh -ErrorAction SilentlyContinue) {
    oh-my-posh init pwsh | Invoke-Expression
}
#endregion
{{ end }}
